@charset "UTF-8";

/* Configuração global */
 * {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #45525C, #778087, #7F9BB0);
    
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #38374e80;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0052C1;
    text-align: center;
    text-shadow: 1px 1px 1px black ;
}

h2 {
    color: #324162;
}


p {
    text-align: justify;
}